@media only screen and (max-width: ~'1098px') and (min-width: 769px) {


  //--------INDEX-----------------
  .testimonial__author {
    font-size: 18 / @d;
  }
  .swiper-pagination {
    font-size: 18 / @d;
  }

  .slide-title {
    font-size: 24 / @d;

  }

  //--------------PAGE starfrecht & Arbeitsrecht-------------------

  .starfrecht {

    .starfrecht__arrow {
      width: 24 / @d;
      height: 24 / @d;
    }

    .starfrecht__heading {
      font-size: 20/@d;
    }

    .starfrecht__text {
      font-size: 20/@d;
    }


  }


  .left {
    &__employee {
      font-size: 20 / @d;
      span {
        font-size: 18/@d;
      }
    }
  }

  .credentials__list {
    font-size: 20 / @d;
  }


  //--------CASE STUDIES--------------------

  .gallery {

    &__img-text {
      font-size: 20 / @d;
    }

  }

  //----------------Datenschutzerklärung----------------



  .datenschutzerklarung {
    .container-left {
      font-size: 20 / @d;

    }
  }

  //---------------IMPRESUM-------------


  .impressum {
    .container-left {
      font-size: 20 / @d;

    }
  }


  .contacts {
    .contacts-left {
      font-size: 20/@d;
    }
  }


  //------------PERSON-------------

  .person__contacts {
    font-size: 20/@d;

  }

  .person {
    .container-right__text {
      font-size: 20/@d;
    }
  }


  //------------UBER UNS------------

  .uber_uns {
    .slide-title--sub {
      font-size: 18 / @d;
      line-height: 1.2;
    }

    .slide-desc {
      font-size: 18 / @d;
    }

  }


  //------------FOOTER NAV--------------

  .footer {
    .nav-link {
      font-size: 18 / @d;
    }
  }

}



@media only screen and (max-width: 768px) {

  //---------BACKGROUND-------------
  #bg {
    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    i {
      width: 100%;
      height: 425 / @m;
      background-size: contain;
      background-repeat: no-repeat;
      .image('icons/logo-white-rotated.svg');
      background-position: center;
      margin-bottom: 36/@m;

      &:first-child {
        margin-bottom: 36/@m;

      }
    }
  }

  //-----------BASE-------------------
  .wrapper {
    //max-width: (320 - 11 - 11) / @m;
    max-width: 293 / @m;
  }

  body {
    font-size: 15.37 / @m;

  }

  #page {
    overflow: hidden;
  }

  .main {
    overflow: visible!important;
  }

  //----------NAVIGATION---------------
  .header {

    padding-top: 13 / @m;
    margin-bottom: 48 / @m;

  }

  #logo {
    height: 100%;
    //width: 172/@m;
    width: 200/@m;
    //line-height: 26/@m;
    margin-right: -6px;
  }

  .icon-border {
    //height: 26/@m;
    height: 36/@m;
    //width: 26/@m;
    width: 36/@m;
  }

  #mail {
    margin-right: 0;
    position: fixed;
    transform: translateY(120%);
    bottom: 2rem;
    right: 0.45rem;
  }

  #mail-icon {
    //width: 16/@m;
    width: 20/@m;
    //height: 12/@m;
    height: 100%;
    z-index: 2;

  }

  #phone {
    margin-right: 0;
    position: fixed;
    bottom: 2rem;
    right: 0.45rem;

  }

  #phone-icon {
    //width: 16 / @m;
    width: 20 / @m;
    //height: 16 / @m;
    height: 20 / @m;
  }

  .js-btnToggle {
    right: -10/@m;
    top: -10/@m;
    padding: 10/@m;
    position: absolute;
  }

  #bars {
    height: 18 / @m;
    width: 23 / @m;
    margin-top: 0;
  }

  .maiNav {
    position: fixed;
    width: 320 / @m;
    padding-top: 40/ @m;
    padding-left: 20/@m;
    overflow: scroll;

    &__menu {
      margin-bottom: 30/@m;
    }

    .maiNav__menuItem {
      padding: 13/@m 0;
    }



    &__link {
      font-size: 15.36 / @m;

    }
  }

  .mainNav_lang {
    position: absolute;
    bottom: 20/@m;
    left: 20/@m;

  }





  //---------------TYPOGRAPHY------------------
  .header-main {
    padding-top: 78 / @m;
    font-size: 25.61 / @m;
    line-height: 1.25;
    margin-bottom: 37/@m;
  }

  .header-block {
    //font-size: 12.8 / @m;
    font-size: @fzCorrection;

    font-weight: normal;
    margin-bottom: 17/ @m;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .header-second {
    font-size: 20.48 / @m;


  }

  //--------------BUTTONS---------------------
  .btn {
    //font-size: 11.85 / @m;
    font-size: @fzCorrection;
    white-space: nowrap;
    //font-size: 0.395rem;
    line-height: 38 / @m;
    height: 38 / @m;
    width: 145.2/ @m;

    span {
      margin-left: 8 /@m;
    }

    &:not(:last-of-type) {
      margin-bottom: 30/@m;
    }

  }

  .btn:hover span {
    transform: translateX(6 / @m);
  }

  //------------INDEX---------------------------
  .row {
    margin: 0 -11 / @m;
  }

  .main {
    overflow: hidden;

    .header-main {
      padding-top: 72/@m;
    }

    .paragraph {
      width: 100%;
      float: left;
      padding: 0 11/@m;
      font-size: 15.37 /@m;
      margin-bottom: 30 / @m;

      &__heading {
        float: left;
        margin-right: 4/@m;
      }

      &__text {
        margin: 0;
      }

    }
    .btn-wrapper {
      margin-bottom: 52 / @m;

      .btn {
        width: 292/ @m;
      }




    }

    .testimonial__text {
      padding: 0 11/@m;
      p{
        font-size: 15.37/@m;
        margin: 0;
      }

    }

    .testimonial {
      &__heading {
        margin-bottom: 35 / @m;
        padding: 0 11 / @m;
        font-size: 15.37 / @m;
      }
      &__text {
        margin-bottom: 38 / @m;
      }

      &__author {
        //font-size: 10.24 / @m;
        font-size: @fzCorrection;
        margin-bottom: 0;
        padding: 0 11/@m;
      }
    }
  }

  //-------------------------------------------
  //|         SLIDERS SETUP              |
  //-------------------------------------------
  .swiper-1 {
    margin-bottom: 42 / @m;
    width: 100%;
    margin-left: -11/@m;
    margin-right: -20/@m;
    overflow: visible;

    .swiper-pagination {
      display: none;
    }

    .swiper-slide {
      width: 268/@m;
      padding: 0 11 / @m;

    }
  }

  .swiper-slide {
    width: 100%;
    padding: 0;
  }

  .swiper-2 {
    width: 100%;
    position: relative;
    .swiper-pagination {
      position: absolute;
      padding: 0 11 / @m;
      margin-bottom: 0;
      //font-size: 10.24 / @m;
      font-size: @fzCorrection;
      top: 2/@m;
      right: 0;
    }
  }

  .swiper-pagination-bullet {
    &:not(:last-of-type) {
      margin-right: 7 / @m;
    }
  }

  .slide-title {
    //font-size: 10.24/ @m;
    font-size: @fzCorrection;
  }

  .swiper-img {
    width: 268/@m;
    height: 178/@m;
    margin-bottom: 16/@m;

  }

  //---------FOOTER-NAV----------------
  .footer {
    align-items: flex-start;
    //padding-bottom: 80 / @m;
    padding-bottom: 0.8rem;

    .mobileFooter {
      display: inline-block!important;
    }
    .desktopFooter {
      display: none!important;
    }

    .nav-link {
      //display: inline-block;
      font-size: 10.24 / @m;
      margin-right: 0;
      text-align: right;
      &:not(:last-of-type) {
        //padding: 0 0 15/@m 0;
      }
    }

    .iconLink {
      position: absolute;
      bottom: 1.7rem;
      transform: translateY(120%);
    }

  }

  .socialIcon {
    width: 22 / @m;
    height: 22 / @m;
  }



  //--------------PAGE starfrecht & Arbeitsrecht-------------------

  .starfrecht {

    .container {
      flex-direction: column;
      margin-bottom: 78/@m;
    }

    .container-left {
      order: 2;
    }

    .container-left {
      order: 1;
    }

    .header-block {
      font-size: 20.5/@m;
    }

    .u-marginBottom-big {
      margin-bottom: 24 / @m;
    }


    &__intro {
      padding-bottom: 0;
      p {
        margin-bottom: 36 / @m;
        //font-size: 12.8/@m;      }
        font-size: @fzCorrection;      }

    }

    &__list {
      //font-size: 11.09 / @m;
      font-size: @fzCorrection;
      line-height: 1.5;
      margin-bottom: 40 / @m;
    }

    &__item {
      padding: 11 / @m;
    }

    &__heading {
      width: 95%;
      //font-size: 11.09 / @m;
      font-size: @fzCorrection;
    }

    &__arrow {
      width: 15 / @m;
      height: 15 / @m;
      right: 5/@m;
      top: 12 / @m;
    }

    &__text-block {
      padding-right: 25 / @m;
      margin-top: 29 / @m;
    }

    &__text {
      margin-bottom: 20 / @d;
      color: @text-color-dark;
    }


    .header-block {
      margin-bottom: 18/@m;
      &:not(:first-of-type) {
        margin-bottom: 32/@m;
      }

    }
  }

  .left {
    &__list {
      font-size: 0;
      margin-bottom: 43 / @m;
    }

    &__item {
      &:not(:last-of-type) {
        margin-bottom: 30 / @m;
      }
    }

    &__employee {
      font-size: 15.36 / @m;

      span {
        //font-size: 10.24 / @m;
        font-size: @fzCorrection;
      }
    }

    &__image {
      //padding-bottom: 130 / @m;
      padding-bottom: 195 / @m;
      margin-bottom: 4 / @m;
      //width: 194 / @m;
      width: 292 / @m;
    }
  }

  .credentials__list {
    //font-size: 11.95 / @m;
    font-size: @fzCorrection;
    width: 100%;
  }

  .credentials__items {
    &:not(:last-of-type) {
      border-bottom: 1px solid @color-red;
      padding-bottom: 18 / @m;
      margin-bottom: 18 / @m;
    }
  }

  .emergency-phone {
    //font-size: 12.8 / @m;
    font-size: @fzCorrection;

  }

  .changeFz {
    font-size: 20.48 / @m;
  }



  //-------------CONTACTS PAGE----------------





  .contacts{

    p {
      margin-bottom: 32/@m;
      font-size: 15.36 / @m;
    }

    p:last-of-type {
      margin-bottom: 28/@m;

    }

    .u-marginBottom-big {
      margin-bottom: 24 / @m;
    }
  }








  .contacts {
    .container {
      flex-direction: column;
      margin-bottom: 22/@m;
    }

    &__map {
      height: 210 / @m;
    }



    .contacts-right {
      margin:0 -11/@m;
      font-size: 0;
    }



  }


  #contacts-icon {
    width: 46 / @m;
    height: 46 / @m;
    margin-right: 15 / @m;
    background-position: center 40%;
  }


  //-------------UBER UNS-------------------


  .banner {
    display: none;
  }

  .banner--mobile {
    display: block;
    width: 100%;
    //height: 267 / @m;
    height: 1.65rem;
    position: absolute;
    z-index: 1;
    //.background-cover;
    background: none!important;
  }

  .uber_uns {

    .header-main {
      margin-bottom: 20 / @m;
      transform: translate(0, 0);
    }

    .banner--mobile {
      position: relative;
      margin-bottom:26/ @m;
    }

    .top {
      margin-bottom: 34 / @m;
    }

    &__section {
      &:not(:last-of-type) {
        margin-bottom: 56/@m - 25/@m;
      }

      &:last-of-type {
        margin-bottom: 70/@m - 25/@m;
      }
    }



    &__container {
      flex-direction: row;

    }

    &__wrapper {
      width: 100%;
      margin-bottom: 0;
    }

    &__text {
      //font-size: 12.8 / @m ;
      font-size: @fzCorrection ;

    }

    &__text {
      width: 100%;
      float: none;


    }



    .btn {
      width: 100%;
    }

    &__img {
      height: 179 / @m;
      margin-bottom: 15 / @m;
      width: 100%;
    }

    &__description {
      display: block;
      margin-bottom: 25/@m;

    }


    .slide-title--sub {
      //font-size: 10.24 / @m;
      font-size: @fzCorrection;


    }

    .slide-desc {
      //font-size: 10.24 / @m;
      font-size: @fzCorrection;
      width: 100%;


    }

    .slide-title {
      margin-bottom: 23 / @m;
      line-height: 1.5;
    }

    &__partner {
      font-size: 15.36 /@m!important;
      margin-bottom: 18/@m;
      width: 100%;
      font-weight: bold;
    }

    .header-second {
      font-size: 25.6/@m;
      margin-bottom: 22/@m;
    }


  }


  .u-marginBottom-huge {
    margin-bottom: 53/@m;
  }

  .u-marginLeft-h1 {
    margin-left: 0
  }

  .u-mobileMB-1 {
    margin-bottom: 32/@m !important;
  }

  .u_mt--1 {
    position: relative;
    margin-bottom: 37/@m;
  }




  //---------PERSON PAGE---------------------

  .person {

    .mobileImg {
      display: block;
      padding-bottom: 194/@m;
      margin-top: 66/@m;
      margin-bottom: 18/@m;
      .background-cover;
    }

    .container {
      margin-bottom: 85 / @m;
      flex-direction: column;
    }

    .header-main {
      padding-top: 0;
      margin-bottom: 32/@m;
      font-size: 30.72 / @m;
      line-height: 38.4 / 30.72;
    }

    &__contacts {
      font-size: 15.36/@m;
      line-height: 35 / @m;
      margin-bottom: 8 / @m;
      &:last-of-type {
        margin-bottom: 16 / @m;
      }
    }

    .icon {
      height: 35 / @m;
      width: 35 / @m;
      margin-right: 12 / @m;


    }

    .phone-icon{
      width: 23 / @m;
      height: 23 / @m;
    }

    .mail-icon{
      width: 21 / @m;
      height: 17 / @m;
    }

    .socialIcon {

      height: 22 / @m;
      width: 23 / @m;
      margin-right: 18 / @m;
    }

    .vCard-link {
      font-size: 15.36 / @m;
      margin-left: 18 / @m;
      padding-left: 24/@m;

      &:before,
      &:after {
        width: 18/@m;
        height: 18/@m;

      }


    }

    .vLine {
      height: 42 / @m;
    }

    .container-right__img {
      display: none;
    }

    .container-left {
      margin-bottom: 38/@m;
    }

    img {
      transform: translateX(0);
      width: 292/@m;
      height: 194/@m;
      margin-bottom: 18/@m;
    }

    .wp-caption-text {
      position: relative;
      padding-top: 13 / @m;
      width: 292/@m;
      font-size: 20.48 / @m;

    }

    .wp-caption.alignnone {
      font-size: 0;
      position: relative;
      width: 0 !important;
      margin-bottom: 31/@m;
    }

    .container-right__text {
      margin-bottom: 30 / @m;
      //font-size: 12.8/@m;
      font-size: @fzCorrection;
      width: 100%;

      &:first-of-type {
        font-size: 15.36/@m;
      }

      &:last-of-type {
        margin-bottom: 35/@m;
      }
    }

    .btn-wrapper {
      //font-size: 12.8 / @m;
      font-size: @fzCorrection;
    }

    .container-right {
      width: 100%;
    }

  }

//----------Strafverteidiger-Notdienst-------------


  .notdienst_strafrecht {
    .container {
      flex-direction: column;
      margin-bottom: 44/@m;
    }

    .header-main {
      margin-bottom: 40/@m;
    }


    .container-left {

    }


    .container-right {
      .emergency-phone {
        display: none;
      }
    }





    .container-right__text {
      &:first-of-type {
        width: 594/@d;
      }

      font-size: 18/@d;
    }

    .container-right {
      .textBlock {
        font-size: 15.36/@m;
      }

      p {
        margin-bottom: 32 /@m;
      }

      a {
        &:hover {
          strong:after {
            transform: translate(15/@m, -3/@d);
          }
        }

        strong {
          width: 292 / @m;
          //font-size: 11.84 / @m;
          font-size: @fzCorrection;
          line-height: 38 / @m;
          height: 38 / @m;


          &:after {
            margin-left: 10 /@m;
          }
        }
      }

      strong {
        &:hover {
          a:after {
            transform: translate(15/@m, -3/@d);
          }
        }

        a {
          width: 292 / @m;
          //font-size: 11.84 / @m;
          font-size: @fzCorrection;
          line-height: 38 / @m;
          height: 38 / @m;

          &:after {
            margin-left: 10 /@m;
          }
        }
      }
    }

    .emergency-phone {
      margin-left: 48 / @m;
      margin-bottom: 38 / @m;
      font-size: 15.36/@m;
    }

    .iconsHolder {
      width: 36 / @m;
      height: 36 / @m;
      top: 17%;
      left: -48 / @m;;
      margin-top: 0;
    }

    .phone-icon {
      width: 23 / @m;
      height: 23 / @m;
    }

    .container-right__text {
      width: 100%!important;
      margin-right: 0!important;
      //font-size: 12.8/@m;
      font-size: @fzCorrection;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

  }

  //----------IMPRESSUM PAGE-------------


  .impressum {

    .container {
      flex-direction: column-reverse;
      margin-bottom: 80/@m;
    }

    .header-main {
      font-size: 30.72/@m;
      margin-bottom: 34/@m;
    }

    .container-left {
      font-size: 15.36 / @m;

      p {
        &:not(:last-of-type) {
          margin-bottom: 34 / @m;
        }
      }
    }

    .container-right__text {
      //font-size: 12.8/@m;
      font-size: @fzCorrection;
      margin-right: 0!important;
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 34/@m;
      }

      &:last-of-type {
        margin-bottom: 60/@m;
      }


      &:first-of-type {
        font-size: 15.36/@m;
      }
    }
  }


  //----------Datenschutzerklärung PAGE------------------


  .datenschutzerklarung {

    .container {
      flex-direction: column-reverse;
      margin-bottom: 80/@m;
    }
    .header-main {
      font-size: 30.72/@m;
      margin-bottom: 34/@m;
      word-wrap: break-word;
    }

    .container-left {
      font-size: 15.36 / @m;

      p {
        &:not(:last-of-type) {
          margin-bottom: 34 / @m;
        }
      }
    }


    .container-right {
      margin-bottom: 60/@m;


      p {
        //font-size: 12.8/@m;
        font-size: @fzCorrection;

        &:first-of-type {
          font-size: 15.36/@m;
        }

        &:not(:first-of-type) {
          width: 100%;
        }

        &:not(:last-of-type) {
          margin-bottom: 34 / @m
        }

      }

      ul {
        margin-bottom: 34 / @m;
        margin-left: 16/@m;
        width: 100%;
        //font-size: 12.8/@m;
        font-size: @fzCorrection;

        li:before {
          margin-right: 10/@m;
        }
      }
    }
  }


  //---------CASE STUDIES PAGE-----------------


  .case_studies {
    .header-main {
      font-size: 30.72/@m;
      margin-bottom: 34/@m;
    }
  }

  .galleryBlock {
    margin-bottom: (52-30 )/ @m;

    &:last-of-type {
      margin-bottom: (60-30) / @m;
    }
  }

  .gallery_heading {
    font-size: 20.48 / @m;
    margin-bottom: 18 / @m;
  }

  .gallery {
    margin: 0;

    &__wrapper {
      width: 100%;
      padding: 0;
      margin-bottom: 30/@m;
    }

    &__img {
      height: 196 / @m;
      margin-bottom: 15 / @m;
    }

    &__img-text {
      //font-size: 12.8 / @m;
      font-size: @fzCorrection;
    }
  }




  //----------CASE STUDY-------------

  .case_study {

    .container {
      margin-bottom: 56/@m;
    }


    .header-main {
      margin-top: 278/@m;
      padding-top: 0;
      font-size: 30.72/@m;
      margin-bottom: 34/@m;



    }

    .container-right__img {
      width: 100%;
      height: 184 / @m;
      margin-bottom: 0;
      position: absolute;
      left: 0;
      top: calc(-278/@m + 66/@m);

    }

    .container-left {
      display: none;
    }

    .btn-wrapper {
      margin-top: 52 / @m;;

    }

    .nav-link {
      //font-size: 12.8 / @m;
      font-size: @fzCorrection;
    }

    .container-right__text{
      //font-size: 12.8/@m;
      font-size: @fzCorrection;
      width: 100%!important;
      margin-right: 0!important;

      &:not(:last-of-type) {
        margin-bottom: 34/@m;
      }

      &:first-of-type {
        font-size: 15.36/@m;
      }

    }




  }

  .separator {
    padding: 0 10 / @m;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {

  .mainNav_lang {
    bottom: 0;
    left: 0;
  }

  .mainNav_lang {
    position: relative;
    padding-bottom: 15/@m;
  }

  .maiNav__menu {
    margin-bottom: 30/@m;
  }
}




