.galleryBlock {
  margin-bottom: (100-14 )/ @d;

  &:last-of-type {
    margin-bottom: (115+20) / @d;
  }
}

.gallery_heading {
  font-weight: normal;
  font-size: 36 / @d;
  margin-bottom: 27 / @d;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -20 / @d -42 / @d;

  &__wrapper {
    width: 33.33%;
    padding: 20 / @d 42 / @d;

  }

  &__img {
    height: 246 / @d;
    margin-bottom: 12 / @d;
    .background-cover;
    transition: color 150ms ease-in-out, filter 150ms ease-in-out, -webkit-filter 150ms ease-in-out;
  }

  &__link {
    font-size: 0;
    text-decoration: none;


    &:hover {

      .gallery__img {
        filter: brightness(80%);

      }
      .gallery__img-text {
        color: @color-hover;
      }
    }
  }

  &__img-text {
    font-size: 18 / @d;
    color: @color-red;
    transition: color 150ms ease-in-out;

  }

}