.case_study {
  .header-main {
    margin-bottom: 77 / @d;

  }

  .container-right__img {
    width: 100%;
    height: 521 / @d;
    margin-bottom: 45 / @d;
    .background-cover;
  }

  .container-left {
    margin-top: -71 / @d;
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    margin-top: 52 / @d;;

  }

  .nav-link {
    font-size: 18 / @d;
  }


  .left__image {
    position: relative;
    width: 227/@d;
    padding-bottom: 150/@d;
    .background-cover;
    margin-bottom: 5/@d;
  }

  .container-right__text:first-of-type {
    font-size: 24/@d;
  }






}

.separator {
  color: @color-red;
  padding: 0 15 / @d;
}





