.datenschutzerklarung {
  .container-left {
    font-size: 18 / @d;

    p {
      &:not(:last-of-type) {
        margin-bottom: 27 / @d;
      }

      a {
        color: @color-red;
        transition: color 150ms ease-in-out;

        &:hover {
          color: @color-hover;
        }
      }
    }


  }


  .container-right {
    p {
      font-size: 18/@d;

      &:first-of-type {
        font-size: 24/@d;
      }

      &:not(:first-of-type) {
        width: 594/@d;
      }

      &:not(:last-of-type) {
        margin-bottom: 42/@d;
      }

    }

    a{
      color: @color-red;
      transition: color 150ms ease-in-out;

      &:hover {
        color: @color-hover;
      }
    }

    ul {
      margin-bottom: 27 / @d;
      margin-left: 20/@d;
      width: 594/@d;
      font-size: 18/@d;

      li:before {
        content: '\2022';
        display: inline-block;
        margin-right: 12/@d;
      }
    }

  }


  .list {
    margin-bottom: 42 / @d;
    margin-left: 19 / @d;
    font-size: 18 / @d;

  }


}

