.impressum {
  .container-left {
    font-size: 18 / @d;

    p {
      &:not(:last-of-type) {
        margin-bottom: 27 / @d;
      }

      a {
        color: @color-red;
        transition: color 150ms ease-in-out;

        &:hover {
          color: @color-hover;
        }
      }
    }


  }

  .container-right__text:first-of-type {
    font-size: 24/@d;
  }



  .container-left {
    font-size: 18 / @d;
  }

}