
.row {
  .clear;
  margin: 0 -42 / @d;
}


.main{


  .header-main {
    padding-top: 170 / @d;
  }

  .paragraph {
    width: 50%;
    float: right;
    padding: 0 42 / @d;
    font-size: 24 /@d;
    margin-bottom: 23 / @d;


    &__heading {
      font-weight: bold;
    }

    &__text {
      margin: 0;
    }

  }
  .btn-wrapper {
    margin-bottom: 41 / @d;
    font-size: 0;
  }

  .testimonial {
    &__heading{
      margin-bottom: 44 / @d;
      font-weight: bold;
      padding: 0 42 / @d;
      font-size: 24 / @d;
    }
    &__text {
      margin-bottom: 57 / @d;
      font-size: 24 / @d;
    }

    &__author {
      font-size: 12 / @d;
      margin-bottom: -20 / @d;
    }
  }
}


//-------------------------------------------
//|         SLIDERS SETUP              |
//-------------------------------------------

.swiper-slide {
  width: 50%;
  float: left;
  padding: 0 42 / @d;
}

.swiper-pagination {
  position: relative;
  color: @color-red;
  padding: 0 42 / @d;
  margin-bottom: 12 / @d;
  font-size: 12 / @d;
  z-index: 1;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

.swiper-pagination-bullet-active {
  color: @text-color-dark;
}



.swiper-pagination-bullet {
 cursor: pointer;
  transition: color 150ms ease-in-out;

  &:hover {
    color: @color-hover;
  }

}

.swiper-pagination-bullet {
  &:not(:last-of-type) {
    margin-right:7 / @d ;
  }
}

.slide-title {
  color: @color-red;
  font-weight: bold;
  font-size: 18 / @d;

  &--sub {
    display: block;
    font-weight: normal;
  }
}

.swiper-img {
  padding-bottom: 396 / 596 * 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 19 / @d;
}

.swiper-1 {
  margin-bottom: 105 / @d;
}

.swiper-2 {
  width: 50%;
  overflow: hidden;
  float:right;
}










