
.contacts{
  .header-main {
    margin-bottom: 82 / @d;

  }

  &__heading {
    font-weight: bold;
    margin-bottom: 30 / @d;
    font-size: 18 / @d;
  }

  &__address {
    margin-bottom: 26 / @d;

  }

  &__phone {
    margin-bottom: 46 / @d;

  }

  &__email {
    margin-bottom: 26 / @d;
  }

  &__map {
    width: 100%;
    height: 525 / @d ;
  }

  p {
    margin-bottom: 40/@d;

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      color: @color-red;
      transition: color 150ms ease-in-out;

      &:hover {
        color: @color-hover;
      }
    }
  }



}






#contacts-icon {
  float: left;
  width: 51 / @d;
  height: 51 / @d;
  margin-right: 15 / @d;
  border: 1px solid @color-red;
  border-radius: 50%;
  .icons-center();
  .image('icons/contacts.svg');
  background-position: center 40%;
}


