
.notdienst_strafrecht {
  .btn {
    margin: 42 / @d 0;
    width: 368 / @d;
  }

  .container-right__text {
    &:first-of-type {
      width: 594/@d;
    }

    font-size: 18/@d;
  }

  .container-right {
    .textBlock {
      font-size: 24/@d;
    }

    p {
      margin-bottom: 60 /@d;

    }

    a {
      color: @color-red;
      text-decoration: none;
      transition: color 150ms ease-in-out;

      &:hover {
        color: @color-hover;

        strong:after {
            transform: translate(15/@d, -3/@d);
        }
      }

      strong {
        width: 368 / @d;
        font-size: 18 / @d;
        letter-spacing: 0.025em;
        text-align: center;
        color: @color-white;
        background-color: @color-red;
        text-decoration: none;
        display: inline-block;
        line-height: 63 / @d;
        height: 63 / @d;
        transition: background-color 150ms ease-in-out;
        cursor: pointer;
        user-select: none;

        &:after {
          content: '\2192 ';
          display: inline-block;
          margin-left: 14 /@d;
          transform: translate(0, -3/@d);
          transition: transform 150ms ease-in-out;
        }

        &:hover {
          background-color: @color-hover;
        }

        span {
          display: inline-block;
          margin-left: 14 /@d;
          transition: transform 150ms ease-in-out;
        }

        &:hover span {
          transform: translateX(15 / @d);
        }
      }
    }

    strong {
      &:hover {
        a:after {
          transform: translate(15/@d, -3/@d);
        }
      }

      a {
        width: 368 / @d;
        font-size: 18 / @d;
        letter-spacing: 0.025em;
        text-align: center;
        color: @color-white;
        background-color: @color-red;
        text-decoration: none;
        display: inline-block;
        line-height: 63 / @d;
        height: 63 / @d;
        transition: background-color 150ms ease-in-out;
        cursor: pointer;
        user-select: none;

        &:after {
          content: '\2192 ';
          display: inline-block;
          margin-left: 14 /@d;
          transform: translate(0, -3/@d);
          transition: transform 150ms ease-in-out;
        }

        &:hover {
          background-color: @color-hover;
          color: @color-white;
        }

        span {
          display: inline-block;
          margin-left: 14 /@d;
          transition: transform 150ms ease-in-out;
        }

        &:hover span {
          transform: translateX(15 / @d);
        }
      }
    }
  }



  .emergency-phone {
    position: relative;
    margin-left: 85 / @d;
    margin-bottom: 42 / @d;
    font-weight: bold;
    display: inline-block;
    transition: color 150ms ease-in-out;

    &:hover {
      color: @color-hover;

      .iconsHolder {
        border-color: @color-hover;
      }

      .phone-icon {
        fill: @color-hover;
      }
    }

  }

  .iconsHolder {
    position: absolute;
    top: 50%;
    left: -85 / @d;;
    margin-top: -31.5 / @d;
    width: 63 / @d;
    height: 63 / @d;
    border: 1px solid @color-red;
    border-radius: 50%;
    transition: border-color 150ms ease-in-out;

  }

  .phone-icon {
    fill: @color-red;
    width: 38 / @d;
    height: 38 / @d;
    transition: fill 150ms ease-in-out;
    .abcenter;
  }

}

