.person {

  .container-left {
    display: flex;
    flex-direction: column;
  }

  .mobileImg {
    display: none;
  }

  .container {
    margin-bottom: 50 / @d;
  }


  &__contacts {
    display: inline-block;
    color: @color-red;
    transition: color 150ms ease-in-out;
    line-height: 40 / @d;
    margin-bottom: 11 / @d;
    &:last-of-type {
      margin-bottom: 30 / @d;
    }
    .clear;

    &:hover {
      color: @color-hover;
    }

    &:hover .icon {
      border-color: @color-hover;
    }

    &:hover .phone-icon {
      fill: @color-hover;
    }

    &:hover .mail-icon {
      fill: @color-hover;
    }

  }

  .icon {
    display: inline-block;
    height: 40 / @d;
    width: 40 / @d;
    border: 1px solid @color-red;
    border-radius: 50%;
    float: left;
    margin-right: 12 / @d;
    transition: border-color 150ms ease-in-out;
    position: relative;

  }

  .phone-icon{
    width: 25 / @d;
    height: 25 / @d;
    .abcenter;
    fill: @color-red;
    transition: fill 150ms ease-in-out;

  }

  .mail-icon{
    width: 25 / @d;
    height: 25 / @d;
    .abcenter;
    fill: @color-red;
    transition: fill 150ms ease-in-out;

  }

  .socialIcon {
    display: inline-block;
    height: 25 / @d;
    width: 26 / @d;
    margin-right: 22 / @d;
  }

  .iconsHolder {
    display: flex;
    align-items: center;
  }

  .vCard-link {
    display: flex;
    align-items: center;
    font-size: 18 / @d;
    font-weight: bold;
    margin-left: 20 / @d;
    padding-left: 30/@d;

    position: relative;



    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      .image("icons/download.svg");
      .background-contain;
      width: 20/@d;
      height: 20/@d;
      opacity: 0.7;
      transition: opacity 150ms ease-in-out;
    }

    &:after {
      .image("icons/downloadRed.svg");
      opacity: 1;


    }

    &:hover {
      &:before {
        opacity: 1;
      }

      &:after {
        visibility: hidden;
      }

    }
  }

  .vLine {
    display: inline-block;
    height: 50 / @d;
    border-left: 1px solid @color-red;
  }

  //--------------Right block------------------



  .container-right__img {
    height: 521 / @d;
    width: 821 / @d;
    margin-right: 0;
    margin-bottom: 44 / @d;
    .background-cover;
  }

  figure {
    margin: 0;
    position: relative;
    font-size: 0;
    margin-bottom: 44 / @d;
  }

  figcaption {
    position: absolute;

    border-top: 2px solid @text-color-dark;
    font-weight: bold;
    padding-top: 26 / @d;
    width: 370 / @d;
    right: 0;
    top: 0;
    font-size: 24 / @d;

  }
  img {
    transform: translateX(-455 / @d);
    width: 820 / @d;
    height: 521 / @d;
    object-fit: cover;

  }

  .container-right__text {
    margin-bottom: 42 / @d;
    font-size: 18/@d;

    &:first-of-type {
      font-size: 24/@d;
    }

    &:last-of-type {
      margin-bottom: 26 / @d;
    }

    a {
      color: @color-red;
      transition: color 150ms ease-in-out;

      &:hover {
        color: @color-hover;
      }
    }
  }

  .btn-wrapper {
    font-size: 18 / @d;
  }

  .container-right {
    width: 822/@d;
  }

  .wp-caption-text {
    position: absolute;

    border-top: 2px solid @text-color-dark;
    font-weight: bold;
    padding-top: 26 / @d;
    width: 370 / @d;
    right: -121%;
    top: 0;
    font-size: 24 / @d;

  }

  .wp-caption.alignnone {
    position: relative;
    width: 370/@d !important;
    margin-bottom: 48/@d;
  }





}