

.starfrecht {

  .header-block {
    margin-bottom: 35 / @d;
  }

  &__intro {
    padding-bottom: 30 / @d;
    p {
      margin-bottom: 50 / @d;
      font-size: 24/@d;
    }

    a {
      text-decoration: none;
      color: @color-red;
      transition: color 150ms ease-in-out;

      &:hover {
        color: @color-hover;
      }

    }



  }

  &__list {
    background-color: #FFFFFF;
    font-size: 14 / @d;
    line-height: 24 / 14;



  }

  &__item {
    padding: 21 / @d;
    border: 1px solid @color-red;
    color: @color-red;
    cursor: pointer;
    position: relative;

    &:not(:last-of-type) {
      border-bottom: none;
    }


  }

  &__heading {
    font-weight: normal;
    font-size: 14 / @d;
    width: 90%;
    transition: font-size 150ms ease-in-out;


  }

  &__arrow {

    width: 18 / @d;
    height: 18 / @d;
    .background-contain;
    transform: rotate(90deg);
    transition: transform 150ms ease-in-out;

    .image("icons/arrow.svg");
    position: absolute;
    right: 22 / @d;
    top: 26 / @d;




  }

  &__text-block {
    width: 100%;
    padding-right: 80 / @d;
    margin-top: 40 / @d;
    display: none;
  }

  &__text{
    margin-bottom: 20 / @d;
    color: @text-color-dark;


  }




}


.left {
  &__list {
    margin-bottom: 70 / @d;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 50 / @d;
    }
  }

  &__employee {
    color: @color-red;
    font-size: 18 / @d;
    font-weight: bold;

    a {
      color: @color-red;
    }

    span {
      font-size: 12 / @d;
      font-weight: normal;
      display: block;
    }

  }

  &__image {
    width: 226 / @d;
    padding-bottom: 151/@d;
    position: relative;
    .background-cover;

    a {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

  }

}



.credentials__list {
  font-size: 14 / @d;
  width: 226 / @d;
}

.credentials__items {
  &:not(:last-of-type) {
    border-bottom: 2 / @d solid @color-red;
    padding-bottom: 15 / @d;
    margin-bottom: 18 / @d;
  }
}


.emergency-phone {
  display: inline-block;
  color: @color-red;
  font-size: 24 / @d;
  transition: color 150ms ease-in-out;

  &:hover {
    color: @color-hover;
  }
}

.rotated {
  transform: rotate(270deg);


}

.changeFz {
  font-size: 24 / @d;
}