
  .banner {
    width: 100%;
    //height: 496 / @d;
    height: 1.56rem;
    position: absolute;
    z-index: 0;
    //.background-cover;
    background: none!important;
  }

  .banner--mobile {
    display: none;
  }

  .uber_uns {

    .header-main {
      padding-top: 0;
      transform: translate(674/@d, -128/@d);
    }

    .top {
      margin-bottom: 77 / @d;
    }

    &__section {
      &:not(:last-of-type) {
        margin-bottom: 45 / @d;
      }

      &:last-of-type {
        margin-bottom: 132 / @d;
      }

    }

    .banner {
      position: relative;
      margin-bottom:67/ @d;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__wrapper {
      width: 595 / @d;

    }

    &__text {
      font-size: 24 / @d ;
      width: 595 / @d;
      float: right;
      .clear;
      span {
        display: block;
      }
    }

    &__partner {
      font-size: 24 / @d ;
      width: 595 / @d;
      float: left;
    }

    .btn {
      width: 369 / @d;
      float: left;
    }

    &__img {
      height: 397 / @d;
      width: 100%;
      margin-bottom: 44 / 2 / @d;
      .background-cover;

    }

    &__description {
      display: flex;
      justify-content: space-between;
    }


    .slide-title--sub {
      font-size: 12 / @d;

    }

    .slide-desc {
      font-size: 12 / @d;
      width: 738 / 2 / @d;


    }

    .slide-title {
      line-height: 18/@d;
    }





  }


  .uber_uns__wrapper {

    p{
      font-size: 24/@d;
    }
  }


  .u_mt--1 {
    position: absolute;
    top: 150/@d;
    left: 0 ;

  }

  .uber_uns__container {
    position: relative;
  }
