*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

* {
  .selection({
    background-color: @color-red;
    color: #FFFFFF;
  });
}

html {
  -ms-touch-action: none;
  font-weight: normal;
  font-size: 10vw;
  line-height: 1.5;
  font-family: 'Eina01', sans-serif;
  background: #f6f6f6;
}

body {
  font-size: 15 / @d;
  color: @text-color-dark;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1, h2, h3, h4 {
  margin: 0;

}

a {
  &:hover {
  }
}

b, strong {
}

p {
}

input,
select,
textarea {
  .appearance;
}

//-------------------------------------------
//|         BASE WRAPPER SETUP              |
//-------------------------------------------
.wrapper {
  margin: 0 auto;
  max-width: (1440 - 84 - 84) / @d;
  //.image('background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}


//-------------------------------------------
//|         CONTAINER SETUP              |
//-------------------------------------------

.container {
  display: flex;
  margin-bottom: 115 / @d;
}

.contacts-left {
  flex: 0 0 453 / @d;
  font-size: 18 / @d;
}

.contacts-right {
  flex-grow: 1;
}


.container-left {
  flex: 0 0 453 / @d;
}

.container-right {
  flex-grow: 1;
}