/**
 * @license
 * MyFonts Webfont Build ID 3550185, 2018-04-01T05:50:51-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Eina01-Regular by Textaxis
 * URL: https://www.myfonts.com/fonts/textaxis/eina/01-regular/
 *
 * Webfont: Eina01-Bold by Textaxis
 * URL: https://www.myfonts.com/fonts/textaxis/eina/01-bold/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3550185
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright (c) 2013 Textaxis. v 1.0 by I&#x00F1;igo Jerez. Barcelona. All rights reserved.
 *
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("../fonts/MyFontsWebfontsKit/");*/


//@font-face {font-family: 'Eina01-Regular';src: url(fonts/MyFontsWebfontsKit/webfonts/362BE9_0_0.eot);src: url(fonts/MyFontsWebfontsKit/webfonts/362BE9_0_0.eot?#iefix) format('embedded-opentype),url(fonts/MyFontsWebfontsKit/webfonts/362BE9_0_0.woff2) format('woff2),url(fonts/MyFontsWebfontsKit/webfonts/362BE9_0_0.woff) format('woff),url(fonts/MyFontsWebfontsKit/webfonts/362BE9_0_0.ttf) format('truetype);}


//@font-face {font-family: 'Eina01-Bold';src: url(../fonts/MyFontsWebfontsKit/webfonts/362BE9_1_0.eot);src: url(../fonts/MyFontsWebfontsKit/webfonts/362BE9_1_0.eot?#iefix) format('embedded-opentype),url(../fonts/MyFontsWebfontsKit/webfonts/362BE9_1_0.woff2) format('woff2),url(../fonts/MyFontsWebfontsKit/webfonts/362BE9_1_0.woff) format('woff),url(../fonts/MyFontsWebfontsKit/webfonts/362BE9_1_0.ttf) format('truetype);}



/* @import must be at top of file, otherwise CSS will not work */





//@import url("../fonts/MyFontsWebfontsKit");


@font-face {
  font-family: 'Eina01';
  src: ~'url(@{url}webfonts/362BE9_0_0.eot)';
  src: ~'url(@{url}webfonts/362BE9_0_0.eot?#iefix)' format('embedded-opentype'),
  ~'url(@{url}webfonts/362BE9_0_0.woff2)' format('woff2'),
  ~'url(@{url}webfonts/362BE9_0_0.woff)' format('woff'),
  ~'url(@{url}webfonts/362BE9_0_0.ttf)' format('truetype');
  font-weight: normal;
}


@font-face {
  font-family: 'Eina01';
  src: ~'url(@{url}webfonts/362BE9_1_0.eot)';
  src: ~'url(@{url}webfonts/362BE9_1_0.eot?#iefix)' format('embedded-opentype'),
  ~'url(@{url}webfonts/362BE9_1_0.woff2)' format('woff2'),
  ~'url(@{url}webfonts/362BE9_1_0.woff)' format('woff'),
  ~'url(@{url}webfonts/362BE9_1_0.ttf)' format('truetype');
  font-weight: bold
}
