.header-main {
  padding-top: 162 / @d;

  font-size: 60 / @d;
  line-height: 63 / 60;

  &--sub {
    display: block;
    font-weight: normal;
  }
}

.header-second {
  font-size: 36 / @d;
  line-height: 1;

}


.header-block {
  font-size: 24 / @d;
  font-weight: normal;
  margin-bottom: 35 / @d;
}



.container-right__text {
  &:not(:first-of-type) {
    font-size: 18 / @d;
    width: 594 / @d;
  }
  &:not(:last-of-type) {
    margin-bottom: 42 / @d;
  }


}

.text-link {
  color: @color-red;
  border-bottom: 1px solid transparent;
  transition: border-bottom 150ms ease-in-out, color 150ms ease-in-out;

  &:hover,
  &:active {
    border-bottom: 1px solid @color-hover;
    color: @color-hover;
  }
}

.list {

  &__item {
    &:before {
      content: '\2022';
      display: inline-block;
      margin-right: 10 / @d;
    }
  }

}

.nav-link {
  color: @color-red;
  transition: color 150ms ease-in-out;

  &:hover {
    color: @color-hover;
  }
}

.container-right {
  p{

    a {
      color: @color-red;
      opacity: 1;
      transition: color 150ms ease-in-out;

      &:hover {
        color: @color-hover;
      }
    }
  }
}


.container-right__text {
  p{

    a {
      color: @color-red;
      transition: color 150ms ease-in-out;

      &:hover {
        color: @color-hover;
      }
    }
  }
}

.test {

}







