
@color-white: #FFFFFF;
@color-red: #df0007;
@color-red-darken: darken(@color-red, 10%);
@color-red-light: lighten(@color-red, 10%);
@color-dark: #280506;
@color-menuBg: #f6f6f6;

@text-color-dark: @color-dark;
@color-hover: @color-dark;



//Desktop
@d: 144rem;
//Mobile
@m: 32rem;

@fzCorrection: 15.38/@m;