#page {
  position: relative;
  z-index: 1;
}

#bg {
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  i {
    display: block;
    width: 100%;
    height: 988 / @d;
    margin-top: 84 / @d;
    background-size: 1440 / @d auto;
    background-position: center -6 / @d;
    .image('icons/logo-white.svg');
    &:first-child {
      margin: 0;

    }
  }
}