.btn {
  font-size: 18 / @d;
  letter-spacing: 0.025em;
  text-align: center;
  color: @color-white;
  background-color: @color-red;
  text-decoration: none;
  display: inline-block;
  line-height: 63 / @d;
  height: 63 / @d;
  min-width: 216 / @d;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
  user-select: none;

  padding: 0 36/@d;

  span {
    display: inline-block;
    margin-left: 14 /@d;
    transform: translateY(-3/@d);
    transition: transform 150ms ease-in-out;
  }

  &:not(:last-of-type) {
    margin-right: 10 /@d;
  }

  &:hover {
    background-color: @color-hover;
  }
}

.btn:hover span {

  transform: translate(15/@d, -3/@d);

}



