.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 23 / @d;

  .nav-link {
    font-size: 12 / @d;

    &:not(:last-of-type) {
      margin-right: 30 / @d ;
    }
  }

  .mobileFooter {
    display: none!important;
  }

  .iconLink {
    visibility: hidden;
    pointer-events: none;
  }
}

.socialIcon {
  display: block;
  width:  26 / @d;
  height:  27 / @d;
  fill: @color-red;
  pointer-events: none;
  .transitionHover;
}

.iconLink:hover .socialIcon {
  fill: @color-hover;

}





