.header {
  padding-top: 22 / @d;
  margin-bottom: 95 / @d;
  width: 100%;
  .clear;

  position: fixed;
  top: 0;
  left: 0;
  //left: 83/@d;
  //right: 80/@d;
  z-index: 10;

}
.logoContainer {
  float: left;

}

.action-buttons {
  float: right;

}

#logo {
  height: 38 / @d;
  width: 320 / @d;
  line-height: 38 / @d;
  .transition(fill 150ms ease-in-out);
  fill: @color-red;

  &:hover {
    fill: @color-hover;
  }
}



.icon-border {
  display: block;
  height: 41 / @d;
  width: 41 / @d;
  border: 1px solid @color-red;
  border-radius: 50%;
  float: left;
  .transition(border 150ms ease-in-out);  
  position: relative;
  .icons-center();

  &:hover {
    border: 1px solid @color-hover;

    #mail-icon {
      fill: @color-hover;
    }

    #phone-icon {
      fill: @color-hover;
    }

  }

}

#mail {
  margin-right: 41 / @d;

}

#mail-icon {
  display: block;
  pointer-events: none;
  fill: @color-red;
  width: 25 / @d;
  height: 19 / @d;
  .abcenter;
  .transition(fill 150ms ease-in-out);

}

#phone {
  margin-right: 11 / @d;
}

#phone-icon {
  display: block;
  pointer-events: none;
  fill: @color-red;
  width: 27 / @d;
  height: 27 / @d;
  .abcenter;
  .transition(fill 150ms ease-in-out);
}

#bars {
  margin-top: 5/@d;
  display: inline-block;
  height: 30 / @d;
  width: 30 / @d;
  z-index: 999;
  position: relative;
  fill:@color-red;

  transition: border 150ms ease-in-out, fill 150ms ease-in-out;
  pointer-events: none;
}

.js-btnToggle {
  display: inline-block;
  font-size: 0;
  z-index: 999;
  position: relative;



  &:hover #bars {
    fill: @color-hover;
  }
}


.maiNav {
  position: fixed;
  width: 678 / @d;
  background-color: @color-menuBg;
  top: 0;
  bottom: 0;
  right: 0;
  width: 678 / @d;
  z-index: 10;
  padding-top:  170 / @d;
  padding-left: 226 / @d;
  transform: translateX(50%);
  opacity: 0;
  transition: 400ms ease-in-out opacity, 400ms ease-in-out;
  pointer-events: none;



  &__menu {
    margin-bottom: 205 / @d;
  }

  &__menuItem {
    display: inline-block;
    width: 100%;
    padding: 15/@d 0;
  }

  &__link {

    font-size: 18 / @d;
    color: @color-red;
    .transition(color 150ms ease-in-out);

    &:hover {
      color: @text-color-dark;
    }
  }

  &__link--active {
    color: @text-color-dark;
  }

}



.is-active {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.mainNav_lang {
  position: absolute;
  bottom: 40/@d;
  left: 226/@d;

}